<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/basic/favicon.ico" type="image/x-icon">
    <title>코리아프리미엄</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>
<body class="light sidebar-mini sidebar-collapse theme-dark">
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--navbar-->
    <div class="sticky">
        <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white shadow">
            <div class="relative">
                <div class="d-flex">
                    <div class="d-none d-md-block">
                        <h1 class="nav-title text-white">Korea Premium</h1>
                    </div>
                </div>
            </div>
            <!--Top Menu Start -->
            <div class="text-white">홈</div>
            <div>커뮤니티</div>
            <div>트렌드</div>
            <div>뉴스</div>
            <div>로그인</div>

        </div>
    </div>
    <!--#navbar-->
    <div class="container-fluid relative animatedParent animateOnce my-3">

        <div class="row row-eq-height my-3 mt-3">
            <div class="col-md-6">
                <div class="card no-b p-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-success"><i class="icon-bitcoin s-18"></i>&nbsp; 비트 도미넌스 차트</div>
                        </div>
                        <div class="text-center mt-3" style="display:block;">
                            <img src="/assets/test.png" style="opacity: 0.7;">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card no-b p-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-warning"><i class="icon-bitcoin s-18"></i>&nbsp; 비트 바이낸스 차트</div>
                        </div>
                        <div class="text-center mt-3" style="display:block;">
                            <img src="/assets/test.png" style="opacity: 0.7;">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-eq-height my-3 mt-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card no-b p-2">
                            <div class="card-body">
                                LONG (공매수) 비율 : <span style="color:#2979ff;font-weight: bold;">54.1%</span>
                                <div class="progress" style="height: 3px; margin-top: 30px;">
                                    <div class="progress-bar" role="progressbar" style="width: 54.1%;" aria-valuenow="54"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card no-b p-2">
                            <div class="card-body">
                                SHORT (공매도) 비율 : <span style="color:#f44336;font-weight: bold;">45.9%</span>
                                <div class="progress" style="height: 3px; margin-top: 30px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 45.9%;"
                                         aria-valuenow="45.9" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card no-b p-2">
                            <div class="card-body text-center">
                                <span class="text-white"><i style="display:inline-block;" class="icon-angle-double-up bg-success  mr-2 avatar cirlce"></i><br><br>
                                    워뇨띠 (aoa)</span><br>
                                <div style="display:inline-block; color:#2979ff; font-size: small;">2023-05-20 01:00</div>
                                <div style="display:inline-block; font-weight: bold;" class="text-success">Long</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card no-b p-2">
                            <div class="card-body text-center">
                                <span class="text-white"><i style="display:inline-block;" class="icon-angle-double-up bg-success  mr-2 avatar cirlce"></i><br><br>
                                    3dudes</span><br>
                                <div style="display:inline-block; color:#2979ff; font-size: small;">2023-05-20 01:00</div>
                                <div style="display:inline-block; font-weight: bold;" class="text-success">Long</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card no-b p-2">
                            <div class="card-body text-center">
                                <span class="text-white"><i class="icon-angle-double-down bg-danger avatar cirlce"></i><br><br>
                                    BogPear</span><br>
                                <div style="display:inline-block; color:#2979ff; font-size: small;">2023-05-20 01:00</div>
                                <div style="display:inline-block; font-weight: bold;" class="text-danger">Short</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card no-b p-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-danger"><i class="icon-thumb-up2 s-18"></i>&nbsp; 실시간 고래 거래 체결</div>
                            <div class="text-gray">Last Update : 2023-05-15　01 : 31 : 36&nbsp;<i class="icon-settings2 s-18"></i></div>
                        </div>

                        <table class="table table-bordered table-hover mt-3">
                            <tbody>
                                <tr class="bg-danger text-white">
                                    <td>바이낸스 선물</td>
                                    <td>$27608</td>
                                    <td>5억</td>
                                    <td>$501k</td>
                                </tr>
                                <tr class="bg-success text-white">
                                    <td>바이낸스 선물</td>
                                    <td>$27608</td>
                                    <td>5억</td>
                                    <td>$501k</td>
                                </tr>
                                <tr class="bg-success text-white">
                                    <td>바이낸스 선물</td>
                                    <td>$27608</td>
                                    <td>5억</td>
                                    <td>$501k</td>
                                </tr>
                                <tr class="bg-danger text-white">
                                    <td>바이낸스 선물</td>
                                    <td>$27608</td>
                                    <td>5억</td>
                                    <td>$501k</td>
                                </tr>
                                
                            </tbody>                            
                        </table>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12">
            <div class="card no-b p-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-danger"><i class="icon-moon-stars2 s-18"></i>&nbsp; 김치차트</div>
                        <div class="text-gray">Last Update : 2023-05-15　01 : 31 : 36&nbsp;&nbsp;&nbsp;<i class="icon-settings2 s-18"></i></div>
                    </div>
                    <div>
                        <select class="form-control col-md-3 mt-3" style="display: inline-block;">
                            <option>업비트 - 바이낸스</option>
                            <option>업비트 - 바이낸스</option>
                            <option>업비트 - 바이낸스</option>
                        </select>
                        &nbsp;&nbsp;
                        <div class="btn-group" data-toggle="buttons" style="display:inline-block;">
                            <label class="btn btn-secondary active text-white">
                                15m
                            </label>
                            <label class="btn btn-secondary text-dark">
                                30m
                            </label>
                            <label class="btn btn-secondary text-dark">
                                1h
                            </label>
                            <label class="btn btn-secondary text-dark">
                                4h
                            </label>
                            <label class="btn btn-secondary text-dark">
                                1D
                            </label>
                            <label class="btn btn-secondary text-dark">
                                1W
                            </label>
                        </div>
                    </div>
                    <img src="/assets/test2.png">
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="card no-b p-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-success"><i class="icon-notebook-list2 s-18"></i>&nbsp; 김치리스트</div>
                        <div class="text-gray">Last Update : 2023-05-15　01 : 31 : 36&nbsp;&nbsp;&nbsp;<i class="icon-more_horiz s-18"></i></div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            기준거래소
                            <select class="form-control col-md-3 mt-3 text-center" style="display: inline-block;">
                                <option>빗썸</option>
                                <option>업비트</option>
                            </select>
                            &nbsp;&nbsp;
                            <i class="icon-compare_arrows s-18"></i>
                            &nbsp;&nbsp;
                            <select class="form-control col-md-3 mt-3 text-center" style="display: inline-block;">
                                <option>바이빗</option>
                                <option>바이낸스</option>
                            </select>
                            해외거래소
                        </div>
                        <div>
                            관심 코인만 보기&nbsp;&nbsp;&nbsp;
                            <div class="material-switch" style="display:inline-block;">
                                <input id="sw4" name="someSwitchOption001"  type="checkbox"/>
                                <label for="sw4" class="bg-success"></label>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover data-tables">
                        <thead>
                            <tr>
                                <th>코인</th>
                                <th>binance($)</th>
                                <th>binance(₩)</th>
                                <th>bithumb(₩)</th>
                                <th>change(%)</th>
                                <th>volume(억)</th>
                                <th>김프(₩)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BTC</td>
                                <td>27675</td>
                                <td>36749</td>
                                <td>36895</td>
                                <td class="text-blue">1.22</td>
                                <td>372억</td>
                                <td class="text-blue">154,451 (0.42%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>1887</td>
                                <td>2506</td>
                                <td>2520</td>
                                <td class="text-blue">2.19%</td>
                                <td>123억</td>
                                <td class="text-blue">12,493 (0.50%)</td>
                            </tr>
                        </tbody>
                    </table>




            </div>
        </div>

        <!--
        <div class="row row-eq-height my-3 mt-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="card no-b mb-3 bg-danger text-white">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="icon-package s-18"></i></div>
                                    <div><span class="text-success">40+35</span></div>
                                </div>
                                <div class="text-center">
                                    <div class="s-48 my-3 font-weight-lighter"><i class="icon-chrome"></i></div>
                                    Chrome
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="card no-b mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="icon-timer s-18"></i></div>
                                    <div><span class="badge badge-pill badge-primary">4:30</span></div>
                                </div>
                                <div class="text-center">
                                    <div class="s-48 my-3 font-weight-lighter">68</div>
                                    New Orders
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="card no-b mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="icon-user-circle-o s-18"></i></div>
                                    <div><span class="badge badge-pill badge-danger">4:30</span></div>
                                </div>
                                <div class="text-center">
                                    <div class="s-48 my-3 font-weight-lighter">170</div>
                                    New Users
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="card no-b mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div><i class="icon-user-times s-18"></i></div>
                                    <div><span class="text-danger">50</span></div>
                                </div>
                                <div class="text-center">
                                    <div class="s-48 my-3 font-weight-lighter">95</div>
                                    Returning Users
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card no-b p-2">
                    <div class="card-body">
                        <div class="card-body">
                            <div class="height-300">
                                <canvas
                                        data-chart="chartJs"
                                        data-chart-type="doughnut"
                                        data-dataset="[
                                                        [75, 25,25],

                                                    ]"
                                        data-labels="[['Disk'],['Database'],['Disk2'],['Database2']]"
                                        data-dataset-options="[
                                                    {
                                                        label: 'Disk',
                                                        backgroundColor: [
                                                            '#03a9f4',
                                                            '#8f5caf',
                                                            '#3f51b5'
                                                        ],

                                                    },


                                                    ]"
                                        data-options="{legend: {display: !0,position: 'bottom',labels: {fontColor: '#7F8FA4',usePointStyle: !0}},
                                }"
                                >
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card no-b my-3">
            <div class="card-body">
                <div class="my-2 height-300">
                    <canvas
                            data-chart="bar"
                            data-dataset="[
                                        [21, 90, 55, 0, 59, 77, 12,21, 90, 55, 0, 59, 77, 12,21, 90, 55, 0, 59, 77, 12],
                                        [12, 40, 16, 17, 89, 0, 12,12, 0, 55, 60, 79, 99, 12,12, 0, 55, 60, 79, 99, 12],
                                        [12, 40, 16, 17, 89, 0,12, 40, 16, 17, 89, 0, 12,12, 40, 16, 17, 89, 0, 12],
                                        ]"
                            data-labels="['Blue','Yellow','Green','Purple','Orange','Red','Indigo','Blue','Yellow','Green','Purple','Orange','Red','Indigo','Blue','Yellow','Green','Purple','Orange','Red','Indigo']"
                            data-dataset-options="[
                                    {
                                        label: 'HTML',
                                        backgroundColor: '#7986cb',
                                        borderWidth: 0,

                                    },
                                    {
                                         label: 'Wordpress',
                                         backgroundColor: '#88e2ff',
                                         borderWidth: 0,

                                     },
                                    {
                                          label: 'Laravel',
                                          backgroundColor: '#e2e8f0',
                                          borderWidth: 0,

                                      }
                                    ]"
                            data-options="{
                                      legend: { display: true,},
                                      scales: {
                                        xAxes: [{
                                            stacked: true,
                                             barThickness:5,
                                             gridLines: {
                                                zeroLineColor: 'rgba(255,255,255,0.1)',
                                                 color: 'rgba(255,255,255,0.1)',
                                                 display: false,},
                                             }],
                                        yAxes: [{
                                                stacked: true,
                                                     gridLines: {
                                                        zeroLineColor: 'rgba(255,255,255,0.1)',
                                                        color: 'rgba(255,255,255,0.1)',
                                                    }
                                       }]

                                      }
                                }"
                    >
                    </canvas>
                </div>
            </div>
            <div class="card-body">
                <div class="row my-3 no-gutters">
                    <div class="col-md-3">
                        <h1>Tasks</h1>
                        Currently assigned tasks to team.
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u12.png" alt=""></figure>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u2.png" alt=""></figure>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar bg-indigo" role="progressbar" style="width: 75%;"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <div class="avatar-group">
                                        <figure class="avatar">
                                            <img src="assets/img/dummy/u4.png" alt=""></figure>
                                        <figure class="avatar">
                                            <img src="assets/img/dummy/u11.png" alt=""></figure>
                                        <figure class="avatar">
                                            <img src="assets/img/dummy/u1.png" alt=""></figure>
                                    </div>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar yellow" role="progressbar" style="width: 75%;"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mb-3">
                                        <h6>New Layout</h6>
                                        <small>75% Completed</small>
                                    </div>
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u5.png" alt=""></figure>
                                </div>
                                <div class="progress progress-xs mb-3">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%;"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" row my-3">
            <div class="col-md-6">
                <div class=" card b-0">
                    <div class="card-body p-5">
                        <canvas id="gradientChart" width="600" height="340"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" card no-b">
                    <div class="card-body">
                        <table class="table table-hover earning-box">
                            <tbody>
                            <tr class="no-b">
                                <td class="w-10">
                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                        <img src="assets/img/dummy/u6.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6>Sara Kamzoon</h6>
                                    <small class="text-muted">Marketing Manager</small>
                                </td>
                                <td>25</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                                <td class="w-10">
                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                        <img src="assets/img/dummy/u9.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6>Sara Kamzoon</h6>
                                    <small class="text-muted">Marketing Manager</small>
                                </td>
                                <td>25</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                                <td class="w-10">
                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                        <img src="assets/img/dummy/u11.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6>Sara Kamzoon</h6>
                                    <small class="text-muted">Marketing Manager</small>
                                </td>
                                <td>25</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                                <td class="w-10">
                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                        <img src="assets/img/dummy/u12.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6>Sara Kamzoon</h6>
                                    <small class="text-muted">Marketing Manager</small>
                                </td>
                                <td>25</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                                <td class="w-10">
                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                        <img src="assets/img/dummy/u5.png" alt="">
                                    </a>
                                </td>
                                <td>
                                    <h6>Sara Kamzoon</h6>
                                    <small class="text-muted">Marketing Manager</small>
                                </td>
                                <td>25</td>
                                <td>$250</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
</div>
<!-- /.right-sidebar -->
<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
<div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script src="assets/js/app.js"></script>

</body>
</html>